<!doctype html>
<html>
    <head>
        <title>Budget App</title>
        <script language="tridash">
          :import(core)

	  # Utility Meta-nodes

          lerp(a, b, alpha) : a + alpha * (b - a)

          clamp(x, min, max) :
             case (
                 x < min : min,
                 x > max : max,
                 x
             )

          make-color(h, s, l) :
            "hsl(" + h + "," + s + "%," + l + "%)"


	  # Application Logic

          food + electricity + water -> total

          clamp((total + 1) / (budget + 1), 0, 1) -> scale

          make-color(
             lerp(0, 120, 1 - scale),
             90,
             45
          ) -> color

          color -> self.input-total.style.color
          color -> self.message.style.color


          # Parsing Input

          parse-real(in-budget) -> parse-budget
          parse-real(in-food) -> parse-food
          parse-real(in-electricity) -> parse-electricity
          parse-real(in-water) -> parse-water

          parse-budget ?-> budget
          parse-food ?-> food
          parse-electricity ?-> electricity
          parse-water ?-> water
        </script>
    </head>
    <body>
      <h1>Budget</h1>
      <p><label>Budget: <input value="<% in-budget %>" /></label></p>
      <h2>Expenses:</h2>
      <p><label>Food: <input value="<% in-food %>" /></label></p>
      <p><label>Electricity: <input value="<% in-electricity %>" /></label></p>
      <p><label>Water: <input value="<% in-water %>" /></label></p>
      <p><label><strong>Total:</strong> <input id="input-total" value="<% total %>" readonly></label></p>
      <hr>
      <p id="message">
        <%
           case(
	     total < budget : "Within budget.",
             "Budget exceeded!!!"
           )
        %>
      </p>
    </body>
</html>
